    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body,
    .banner {
        position: relative;
        height: 100vh;
        width: 100%;
        background-color: white;
    }
    
    .part1 {
        width: 100%;
        position: relative;
        border-right: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: red;
        height: 100vh;
    }
    
    .part1 form {
        position: relative;
        width: 80%;
        background-color: #fff;
    }
    
    .part1 form .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2.0rem 1rem;
    }
    
    .part1 form .row .left-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 2rem;
    }
    
    .part1 form .row .left-row h5 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
    
    .part1 form .row .right-r {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .part1 form .row .right-r input[type="text"] {
        width: 200px;
        height: 40px;
        border: 1.5px solid rgba(3, 3, 26, 0.356);
        outline: none;
        font-size: 1.2rem;
        padding-left: 1rem;
        color: rgba(0, 0, 0, 0.658);
    }
    
    .part1 form .row .right-r label {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    
    .part1 form .row .right-r label input[type="checkbox"] {
        padding: 4rem;
        font-size: 2rem;
        border: 1px solid red;
        padding: 2rem;
    }
    
    .part1 form .row .right-r label input[type="checkbox"]:checked {
        color: black;
        background-color: rgb(243, 10, 10);
    }
    
    .part1 form .calc-btn {
        margin: 1.5rem auto;
        transform: translateX(40%);
        width: 300px;
        color: white;
        height: 50px;
        cursor: pointer;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        right: 50%;
    }
    
    .part1 form .calc-btn:hover {
        background-color: transparent;
        border: 3px solid red;
        color: black;
        text-transform: uppercase;
    }
    
    .part2 {
        margin-top: 50px;
        height: 90vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .part2 form {
        position: relative;
        width: 60%;
        background-color: #fff;
    }
    
    .part2 form .row {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid red;
        padding: 1rem 1rem;
    }
    
    .part2 form .row .left-row {
        padding-right: 2rem;
    }
    
    .part2 form .row .left-row h5 {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    .part2 form .row .right-r {
        text-align: center;
    }
    
    .part2 form .row .right-r h6 {
        font-size: 1.2rem;
    }
    
    .part2 form .row .right-r h6 span {
        padding-left: 1rem;
    }
    
    @media screen and (max-width: 425px) {
        body,
        .part1 {
            padding: 1rem 0;
        }
        .part1 form {
            width: 95%;
            margin: 1rem 0;
        }
        .part1 form .row {
            padding: 0.5rem 0;
        }
        .part1 form .row .left-row {
            padding-right: 0;
        }
        .part1 form .row .left-row h5 {
            font-size: 0.8rem;
        }
        .part1 form .row .right-r label {
            font-size: 1rem;
        }
        .part1 form .calc-btn {
            width: 92% !important;
            height: 50px;
            margin: 1rem 0;
            transform: translateX(0);
        }
        .part2 form {
            width: 95%;
        }
        .part2 form .row {
            padding: 0.6rem 0.6rem;
        }
        .part2 form .row .left-row {
            padding-right: 1.5rem;
        }
        .part2 form .row .left-row h5 {
            font-size: 1rem;
        }
        .part2 form .row .right-r h6 {
            font-size: 1rem;
        }
    }
    
    @media screen and (max-width: 375px) {
        body {
            display: flex;
            height: auto;
            flex-direction: column;
        }
        .part1 {
            padding: 1rem 0;
        }
        .part1 form {
            width: 95%;
            margin: 1rem 0;
        }
        .part1 form .row {
            padding: 0.5rem 0;
        }
        .part1 form .row .left-row {
            padding-right: 0;
        }
        .part1 form .row .left-row h5 {
            font-size: 0.8rem;
            height: 5vh;
        }
        .part1 form .row .right-r input[type="text"] {
            width: 100%;
        }
        .part1 form .calc-btn {
            width: 90% !important;
            height: 50px;
            margin: 1rem 0;
            transform: translateX(0);
        }
        .part2 form {
            width: 95%;
        }
        .part2 form .row {
            padding: 0.6rem 0.6rem;
        }
        .part2 form .row .left-row {
            padding-right: 1.5rem;
        }
        .part2 form .row .left-row h5 {
            font-size: 1rem;
        }
        .part2 form .row .right-r h6 {
            font-size: 1rem;
        }
    }
    
    @media screen and (max-width: 768px) {
        body {
            display: flex;
            height: auto;
            flex-direction: column;
        }
        .part1 {
            padding: 1rem 0;
            border: none;
        }
        .part1 form {
            width: 95%;
            margin: 1rem 0;
        }
        .part1 form .row {
            padding: 1rem 1rem;
        }
        .part1 form .row .left-row {
            padding-right: 1rem;
        }
        .part1 form .calc-btn {
            width: 95%;
            height: 60px;
            margin: 1rem 1rem;
            transform: translateX(0);
        }
        .part2 form {
            width: 95%;
        }
    }